/* set roboto
align icons */
@font-face {
    font-family: roboto-reg;
    src: url(assets/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(assets/Roboto/Roboto-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: roboto-black;
    src: url(assets/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}


* {
    font-family: roboto-reg, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    height: 100%;
    --userProfileSize: 50px;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 50px 2fr 50px 2fr;
}

/* Styling associated with the "Sidebar window" */

.sidebar{
    font-family: roboto-bold, sans-serif;
    grid-row: 1 / -1;
    background-color: #0ea5e9;
    color: white;
    fill: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 18px;
    padding-top: 10px;
    font-size: 30px;
}

.dashboard {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 600;
}

.navigation, .settings {
    display: flex;
    gap: 15px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}

.nav, .set {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard > svg{
    height: 42px;
}

.nav > svg, .set > svg {
    height: 20px;
}

/* Sidebar window design changes ends here  */

/* Styling related to top-bar */

.top-bar {
    grid-column: 2 / -1;
    padding: 10px 35px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.search-container {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
}

.search-bar {
    height: 30px;
    width: 55%;
    background-color: #d1d5db;
    border-radius: 25px;
    margin-right: 60px;
}

.greeting-container {
    display: flex;
    align-items: center;
}

span {
    font-size: 15px;
}

.greeting-container > .name {
    font-size: 22px;
    font-family: roboto-black, sans-serif;
    margin-right: 308px;
}

.button-container {
    width: 39%;
}

button {
    font-size: 16px;
    color: white;
    background-color: #0ea5e9;
    height: 34px;
    width: 90px;
    margin: 8px;
    border-radius: 25px;
    border: none;
}

.search-container > img {
    height: var(--userProfileSize);
}

.greeting-container > img {
    height: calc(var(--userProfileSize) + 20px);
    margin-right: 5px;
}

.search-container > svg, .project > .icons-project > svg{
    height: 30px;
}

/* Design changes relating to top-bar ends here  */

/* CSS relating to project container */

.project-container{
    grid-column: 2 / 3;
    grid-row: 3 / -1;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #d1d5db;
    gap: 10px;
    padding: 0 10px;
    justify-items: center;
}

.project {
    display: grid;
    padding: 30px 24px 10px 25px;
    border-radius: 14px;
    background-color: white;
    box-shadow: inset 10px 0 orange;
    gap: 32px;
    /* border: 8px solid white;
    border-left-color: orange; */
}

.heading-projects {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #d1d5db;
    font-family: roboto-bold, sans-serif;
    font-size: large;
    padding-left: 10px;
    padding-bottom: 5px;
    align-items: end;
}

.icons-project{
    display: flex;
    gap: 20px;
    justify-content: end;
}

p {
    color: #64748b;
}

b {
    font-family: roboto-bold, sans-serif;
    color: black;
}

.announcements-container{
    grid-column: 3 / -1;
}

.trending{
    grid-column: 3 / 4;
}